# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/
spark-core/src/main/java/
spark-core/src/test/
spark-core/target/
spark0830.iml

spar-ksql/src/test/
spark-core-project/target/generated-sources/
spark-core-project/target/generated-test-sources/
spark-warehouse/

